.gallery {
  margin-top: 80px;
  padding-top: 66px;
  padding-bottom: 150px;
  position: relative;

  .h2,
  .subtitle {
    text-align: left;
  }
}

.gallery-fancy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    width: 24%;
    display: block;

    img {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 1240px) {}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
  .gallery {
    padding-top: 15px;
    padding-bottom: 35px;
  }

  .gallery-fancy a {
    width: 49%;
  }
}
