doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title lux
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/style.min.css")
  body
    div.wrapper
      include ../sections/top
      include ../sections/menu
      main
        include ../sections/gallery
      include ../sections/footer
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
    script(src="js/jquery.fancybox.min.js")
    script(src="js/script.js")
