section.about-us
  div.wrap
    p.subtitle терраса люкс
    h2.h2 Каждый человек стремится вложить<br> в свой дом самое лучшее 
    p.info В свете огромного выбора, зачастую бывает сложно найти лучшее. А разве хочется довольствоваться меньшим? 
    p.text «Терраса-люкс» — это уникальный проект по подбору всего самого лучшего для дома Вашей мечты. Мы поможем создать неповторимый дизайн Вашего дома и сада. Наша компания предлагает огромный ассортимент мебели, аксессуаров, товаров для оформления сада и дома (новогодние товары, светодиодные деревья). Все товары представлены в наличии в нашем шоуруме. Наша компания сотрудничает с мировыми производителями мебели напрямую, благодаря этому мы можем предложить Вам приобрести эксклюзивные модели по оптовым ценам.
