section.advantages
  div.wrap
    ul
      li
        div.advantages__img
          img(src="img/icons/terrace.svg" alt="")
        h3.text Весь товар<br>  в наличии
      li
        div.advantages__img
          img(src="img/icons/heart.svg" alt="")
        h3.text Удобное<br> местонахождение
      li
        div.advantages__img
          img(src="img/icons/truck.svg" alt="")
        h3.text Возможность<br> доставки
      li
        div.advantages__img
          img(src="img/icons/help.svg" alt="")
        h3.text Работаем<br> каждый день
      li
        div.advantages__img
          img(src="img/icons/car-parking.svg" alt="")
        h3.text Собственная<br> парковка
