div.catalog-inner
  div.wrap
    p.subtitle Мебель для сада
    h1.h2 Стол обеденный со стеклом и 8 кресел
    div.sku Артикул: MY11SS01
    section.catalog-inner__item
      div.catalog-inner__slider
        div.slider-for
          div.slider__elem
            img(src="img/inner-img.jpg")
          div.slider__elem
            img(src="img/inner-img.jpg")
          div.slider__elem
            img(src="img/inner-img.jpg")
          div.slider__elem
            img(src="img/inner-img.jpg")
          div.slider__elem
            img(src="img/inner-img.jpg")
          div.slider__elem
            img(src="img/inner-img.jpg")
        div.slider-nav
          div.slider__elem-nav
            img(src="img/inner-img.jpg")
          div.slider__elem-nav
            img(src="img/inner-img.jpg")
          div.slider__elem-nav
            img(src="img/inner-img.jpg")
          div.slider__elem-nav
            img(src="img/inner-img.jpg")
          div.slider__elem-nav
            img(src="img/inner-img.jpg")
          div.slider__elem-nav
            img(src="img/inner-img.jpg")
      div.catalog-inner__info
        table
          tbody
            tr
              th Цвет: 							
              td Черный, бежевые подушки
            tr
              th Материал:
              td Ротанг
            tr
              th Стол:
              td 1 шт
            tr
              th Размер стола:
              td 60x160x75 см
            tr
              th Вес стола:
              td 15 кг
            tr
              th Стекло:
              td 5 мм
            tr
              th Кресел:
              td 8 шт
            tr
              th Размер кресел:
              td 88x50x47 см
            tr 
              th Вес кресла:
              td 4 кг 
            tr 
              th
                p.price 500 000 р
              td
                p.price__info Цена указана без учёта скидок.
                  <br>Подробную информацию уточняйте у менеджеров
        a(href="#").catalog-inner__button.button-empty Добавить в корзину
