section.catalog
  div.wrap
    p.subtitle Каталог
    h1.h2 Мебель для сада
    div.catalog__lists
      a(href="").item
        div(style="background-image: url('img/img1.jpg')").image
          img(src="img/img1.jpg" alt="Block")
        div.sku Артикул: MY11SS01
        div.title Диван-кровать
        div.price 430 000 ₽
      a(href="").item
        div(style="background-image: url('img/img2.jpg')").image
          img(src="img/img2.jpg" alt="Block")
        div.sku Артикул: MY9089
        div.title Диван
        div.price 500 000 ₽
      a(href="").item
        div(style="background-image: url('img/img3.jpg')").image
          img(src="img/img3.jpg" alt="Block")
        div.sku Артикул: DR-5139
        div.title Лежак
        div.price 240 000 ₽
      a(href="").item
        div(style="background-image: url('img/img1.jpg')").image
          img(src="img/img4.jpg" alt="Block")
        div.sku Артикул: MY11SS01
        div.title Диван-кровать
        div.price 430 000 ₽
      a(href="").item
        div(style="background-image: url('img/img2.jpg')").image
          img(src="img/img5.jpg" alt="Block")
        div.sku Артикул: MY9089
        div.title Диван
        div.price 500 000 ₽
      a(href="").item
        div(style="background-image: url('img/img3.jpg')").image
          img(src="img/img6.jpg" alt="Block")
        div.sku Артикул: DR-5139
        div.title Лежак
        div.price 240 000 ₽
      a(href="").item
        div(style="background-image: url('img/img1.jpg')").image
          img(src="img/img1.jpg" alt="Block")
        div.sku Артикул: MY11SS01
        div.title Диван-кровать
        div.price 430 000 ₽
      a(href="").item
        div(style="background-image: url('img/img2.jpg')").image
          img(src="img/img2.jpg" alt="Block")
        div.sku Артикул: MY9089
        div.title Диван
        div.price 500 000 ₽
      a(href="").item
        div(style="background-image: url('img/img3.jpg')").image
          img(src="img/img3.jpg" alt="Block")
        div.sku Артикул: DR-5139
        div.title Лежак
        div.price 240 000 ₽
      a(href="").item
        div(style="background-image: url('img/img1.jpg')").image
          img(src="img/img4.jpg" alt="Block")
        div.sku Артикул: MY11SS01
        div.title Диван-кровать
        div.price 430 000 ₽
      a(href="").item
        div(style="background-image: url('img/img2.jpg')").image
          img(src="img/img5.jpg" alt="Block")
        div.sku Артикул: MY9089
        div.title Диван
        div.price 500 000 ₽
      a(href="").item
        div(style="background-image: url('img/img3.jpg')").image
          img(src="img/img6.jpg" alt="Block")
        div.sku Артикул: DR-5139
        div.title Лежак
        div.price 240 000 ₽
