section.contacts
  div.wrap
    p.subtitle терраса люкс
    h1.h2 Контакты
    ul.threeColumns
      li
        span.title ШОУРУМ
        p 197110, Россия, г. Санкт-Петербург,<br>Новоприозерское шоссе,<br>8-й км, поселок Медовое (съезд у заправки НЕСТЕ)<br>Режим работы: ежедневно с 11.00 до 20.00</p>
        p Режим работы: ежедневно с 11:00 до 20:00
      li
        span.title ОФИС
        p 197110, Россия, г. Санкт-Петербург,<br>наб. Мартынова, д. 6 (м. Крестовский остров)
      li
        p
          a(href="tel:+7-812-320-63-61") +7 (812) 320-63-61<br>
          a(href="tel:+7-921-867-91-30") +7 (921) 867-91-30
        p
          a(href="mailto:tl@terrasa.lux").underline tl@terrasa.lux
    div.map
      iframe(src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d63534.967902635915!2d30.295839904365756!3d60.15643512063254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zINCg0L7RgdGB0LjRjywg0LMuINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQndC-0LLQvtC_0YDQuNC-0LfQtdGA0YHQutC-0LUg0YjQvtGB0YHQtSwgOC3QuSDQutC8!5e0!3m2!1sru!2sru!4v1602364285865!5m2!1sru!2sru" width="976" height="539" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
