div.footer
  div.decoration
    img(src="img/deco-footer.svg" alt="Декоративный элемент")
  div.wrap
    div.menu
      ul.fourColumns
        li
          span.title
            a(href="#") Мебель для сада
          a(href="#") Обеденные столы
          a(href="#") Диваны
          a(href="#") Лежаки
          a(href="#") Качели
          a(href="#") Беседки
          a(href="#") Зонты
        li
          span.title
            a(href="#") Мебель для дома
          a(href="#") Для кухни
          a(href="#") Для гостиной
          a(href="#") Для детской
          a(href="#") Для ванной
          a(href="#") Для спальни
        li
          span.title 
            a(href="#") люстры и освещение
          a(href="#") Люстры
          a(href="#") Светильники, бра
          a(href="#") Настольные лампы
          a(href="#") Вазы
          a(href="#") Предметы интерьера
        li
          span.title
            a(href="#") Светодиодные деревья
          a(href="#") Деревья
          a(href="#") Цветы
  div.secondPart
    div.wrap
      ul.threeColumns
        li
          span.title ШОУРУМ
          p 197110, Россия, г. Санкт-Петербург,<br>Новоприозерское шоссе,<br>8-й км, поселок Медовое (съезд у заправки НЕСТЕ)<br>Режим работы: ежедневно с 11.00 до 20.00</p>
        li
          span.title ОФИС
          p 197110, Россия, г. Санкт-Петербург,<br>наб. Мартынова, д. 6 (м. Крестовский остров)
        li
          span.title Телефоны
          p
            a(href="tel:+7-812-320-63-61") +7 (812) 320-63-61<br>
            a(href="tel:+7-921-867-91-30") +7 (921) 867-91-30
          p
            a(href="mailto:tl@terrasa.lux").underline tl@terrasa.lux
      div.copyrights
        p Внимание. Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не может считаться публичной офертой, которая определяется положениями Статьи 437 (2) Гражданского кодекса РФ.</p
        p Все права защищены © 2005–2020
