section.catalog
  div.wrap
    p.subtitle терраса люкс
    h1.h2 Каталог
    section.full-catalogs
      div(style="background-image: url('../img/banner1.jpg')").full-catalog.full-catalog__big
        a(href="").full-catalog__link
          h2.title МЕБЕЛЬ ДЛЯ САДА
      div(style="background-image: url('../img/banner2.jpg')").full-catalog.full-catalog__big
        a(href="").full-catalog__link
          h2.title МЕБЕЛЬ ДЛЯ дома
      div(style="background-image: url('../img/banner3.jpg')").full-catalog
        a(href="").full-catalog__link
          h2.title Люстры и освещение
      div(style="background-image: url('../img/banner4.jpg')").full-catalog
        a(href="").full-catalog__link
          h2.title Светодиодные деревья
      div(style="background-image: url('../img/banner5.jpg')").full-catalog
        a(href="").full-catalog__link
          h2.title Новогодние товары
      
