
section.gallery
  div.wrap
    p.subtitle терраса люкс
    h1.h2 Корзина
    div.gallery-fancy
      a(data-fancybox="gallery" href="img/foto1.jpg")
        img(src="img/foto1.jpg")
      a(data-fancybox="gallery" href="img/foto2.jpg")
        img(src="img/foto2.jpg")
      a(data-fancybox="gallery" href="img/foto3.jpg")
        img(src="img/foto3.jpg")
      a(data-fancybox="gallery" href="img/foto1.jpg")
        img(src="img/foto1.jpg")
      a(data-fancybox="gallery" href="img/foto2.jpg")
        img(src="img/foto2.jpg")
      a(data-fancybox="gallery" href="img/foto3.jpg")
        img(src="img/foto3.jpg")
      a(data-fancybox="gallery" href="img/foto1.jpg")
        img(src="img/foto1.jpg")
      a(data-fancybox="gallery" href="img/foto2.jpg")
        img(src="img/foto2.jpg")
      a(data-fancybox="gallery" href="img/foto3.jpg")
        img(src="img/foto3.jpg")
      a(data-fancybox="gallery" href="img/foto1.jpg")
        img(src="img/foto1.jpg")
      a(data-fancybox="gallery" href="img/foto2.jpg")
        img(src="img/foto2.jpg")
      a(data-fancybox="gallery" href="img/foto3.jpg")
        img(src="img/foto3.jpg")
      a(data-fancybox="gallery" href="img/foto1.jpg")
        img(src="img/foto1.jpg")
      a(data-fancybox="gallery" href="img/foto2.jpg")
        img(src="img/foto2.jpg")
      a(data-fancybox="gallery" href="img/foto3.jpg")
        img(src="img/foto3.jpg")
      a(data-fancybox="gallery" href="img/foto1.jpg")
        img(src="img/foto1.jpg")
