div.head-decoration
  section.head
    div.wrap 
      h1 терраса люкс
      p Дом — это отражение<br> души хозяина
      div.button
        a(href="#" class="btn" tabindex="0")
          span Подробнее
