div.content.bggray
  div.wrap
    div.main
      div.subtitle О компании
      h1.h2 Терраса люкс
      p Дом — это отражение души хозяина. Каждый человек стремится вложить в свой дом самое лучшее. В свете огромного выбора, зачастую бывает сложно найти лучшее. А разве хочется довольствоваться меньшим?
      p «Терраса-люкс» — это уникальный проект по подбору всего самого лучшего для дома Вашей мечты. Мы поможем создать неповторимый дизайн Вашего дома и сада. Наша компания предлагает огромный ассортимент мебели, аксессуаров, товаров для оформления сада и дома (новогодние товары, светодиодные деревья). Все товары представлены в наличии в нашем шоуруме. Наша компания сотрудничает с мировыми производителями мебели напрямую, благодаря этому мы можем предложить Вам приобрести эксклюзивные модели по оптовым ценам.
    div.side
      img(src="img/content.chair.jpg" alt="Кресло качалка подвесное")
