div.inlineForm
	div.decoration
		img(src="img/deco-form.svg" alt="Декоративный элемент")
	div.wrap
		ul.twoColumns
			li
				div.title У вас есть вопрос?
				div.subtitle Оставьте свой телефон и мы вам перезвоним
			li
				form
					input(type="text" name="name" placeholder="Введите ваш телефон")
					div.submit Отправить
					div.eula
						input(type="checkbox" name="eula" id="eula1").ok-input
						label(for="eula1").ok Я даю свое согласие на обработку своих персональных данных
