nav.menu-inner
  div.wrap
    div.menu-inner__menu
      ul.fourColumns
        li
          div.menu-inner__icon
            img(src="img/icons/picnic.svg" alt="Мебель для сада")
          div.menu__info
            span.menu-inner__title
              a(href="#") Мебель<br> для сада
            a(href="#").menu-inner__link Обеденные столы
            a(href="#").menu-inner__link Диваны
            a(href="#").menu-inner__link Лежаки
            a(href="#").menu-inner__link Качели
            a(href="#").menu-inner__link Беседки
            a(href="#").menu-inner__link Зонты
        li
          div.menu-inner__icon
            img(src="img/icons/dining-table.svg" alt="Мебель для дома")
          div.menu__info
            span.menu-inner__title
              a(href="#") Мебель<br> для дома
            a(href="#").menu-inner__link Для кухни
            a(href="#").menu-inner__link Для гостиной
            a(href="#").menu-inner__link Для детской
            a(href="#").menu-inner__link Для ванной
            a(href="#").menu-inner__link Для спальни
        li
          div.menu-inner__icon
            img(src="img/icons/light.svg" alt="люстры и освещение")
          div.menu__info
            span.menu-inner__title
              a(href="#") люстры<br> и освещение
            a(href="#").menu-inner__link Люстры
            a(href="#").menu-inner__link Светильники, бра
            a(href="#").menu-inner__link Настольные лампы
            a(href="#").menu-inner__link Вазы
            a(href="#").menu-inner__link Предметы интерьера
        li
          div.li__inner 
            div.menu-inner__icon
              img(src="img/icons/tree.svg" alt="Светодиодные деревья")
            div.menu__info
              span.menu-inner__title
                a(href="#") Светодиодные<br> деревья
          div.li__inner 
            div.menu-inner__icon
              img(src="img/icons/deer.svg" alt="Новогодние товары")
            div.menu__info
              span.menu-inner__title
                a(href="#") Новогодние<br> товары
