ul.menu-min.fourColumns
  li
    div.menu__info
      span.menu-inner__title
        a(href="#") Мебель для сада
      a(href="#").menu-inner__link Обеденные столы
      a(href="#").menu-inner__link Диваны
      a(href="#").menu-inner__link Лежаки
      a(href="#").menu-inner__link Качели
      a(href="#").menu-inner__link Беседки
      a(href="#").menu-inner__link Зонты
  li
    div.menu__info
      span.menu-inner__title
        a(href="#") Мебель для дома
      a(href="#").menu-inner__link Для кухни
      a(href="#").menu-inner__link Для гостиной
      a(href="#").menu-inner__link Для детской
      a(href="#").menu-inner__link Для ванной
      a(href="#").menu-inner__link Для спальни
  li
    div.menu__info
      span.menu-inner__title
        a(href="#") люстры и освещение
      a(href="#").menu-inner__link Люстры
      a(href="#").menu-inner__link Светильники, бра
      a(href="#").menu-inner__link Настольные лампы
      a(href="#").menu-inner__link Вазы
      a(href="#").menu-inner__link Предметы интерьера
  li
    div.li__inner 
      div.menu__info
        span.menu-inner__title
          a(href="#") Светодиодные деревья
  li
    div.li__inner
      div.menu__info
        span.menu-inner__title
          a(href="#") Новогодние товары
