section.about-us.shop
  div.wrap
    h2.title2 Мебельный магазин Терраса-люкс.рф удобно разбит по категориям мебель для сада и мебель для дома
    p.text Дополнительно в разделе люстры и аксессуары можно найти необычные статусные вазы, люстры и другие предметы декора. Светодиодные деревья в различных видах украсят ваш дом или территорию перед коттеджем в новогодние праздники. Новогодние товары отлично подойдут для украшения Вашего дома, террасы, офиса, ресторана или праздничных корпоративов.
    div.button
      a(href="#" class="btn" tabindex="0")
        span Смотреть каталог
