section.stocks
  div.wrap
    p.subtitle терраса люкс
    h1.h2 Акции
    ul.lists
      li.list.list__bg1
        a(href="#")
          p Скидка 30%
          p На товары из раздела садовой мебели
      li.list.list__bg2
        a(href="#")
          p распродажа
          p всех товаров в разделе
      li.list.list__bg3
        a(href="#")
          p СКИДКА 10%
          p на лежаки
      li.list.list__bg1
        a(href="#")
          p Скидка 30%
          p На товары из раздела садовой мебели
      li.list.list__bg2
        a(href="#")
          p распродажа
          p всех товаров в разделе
      li.list.list__bg3
        a(href="#")
          p СКИДКА 10%
          p на лежаки
      li.list.list__bg1
        a(href="#")
          p Скидка 30%
          p На товары из раздела садовой мебели
      li.list.list__bg2
        a(href="#")
          p распродажа
          p всех товаров в разделе
      li.list.list__bg3
        a(href="#")
          p СКИДКА 10%
          p на лежаки
