div.decorationTop
div.top
  div.wrap
    div.logo
      a(href="/")
        img(src="img/logo.png" alt="Терраса Люкс")
    div.menu
      ul
        li
          a(href="/magazin/") Каталог
        li
          a(href="/o-nas/") О Компании
        li
          a(href="/skidki/") Акции
        li
          a(href="/gallery/") Галерея
        li
          a(href="/kontaktyi/") Контакты
    div.cart
      a(href="/cart/")
        img(src="img/icons/cart.svg" alt="Корзина")
        span.count 0
    div.contacts
      a(href="tel:8-800-320-63-61").phone 8 800 320-63-61
      span.caption Бесплатный звонок по России
